body, html {
    height: 100%; /* Ensure the entire viewport height is covered */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout {
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}

